.menudiv {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    position: fixed;
    padding: 0;
    height:60px;
    line-height: 60px;
}

.menudiv__item {
    text-align: center;
    color:white;
    text-decoration:none;
    cursor: pointer;
}

.menudiv__item:hover {
    color:grey;
    text-decoration:none;
    transition: .4s;
}

.menudiv ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menudiv li {
    font-size: 20px;
    text-align: center;
    text-decoration:none;
}

.homediv {
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.homediv h1 {
    margin-top: 16px;
    margin-bottom: 0;
    color: white;
    text-align: center;
}

.homediv__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.homediv .imm-home {
    width: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.flag {
    width: 32px;
    height: 32px;
    position: fixed;
    top: 64px;
    right: 32px;
}

.flag img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#img1 {
    width: 90px;
    cursor: pointer;
}

#img1:hover {
   transform: rotateY(360deg);
   transition: .6s;
 }


.chatdiv {
    position: fixed;
    bottom: 0;
    padding: 0;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 30px 0px #eee;
    color: #eeeeee;
}

.chatheader {
    width: 100%;
    background-color: rgba(0,0,0,1);
    padding: 16px 16px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.chatheader .closechat {
    position: absolute;
    right: 16px;
    top: 20px;
    cursor: pointer;
}

.chatheader .minimize {
    position: absolute;
    right: 38px;
    top: 20px;
    cursor: pointer;
}

.chatheader h5 {
    font-weight: bold;
    margin: 0;
    width: 80%;
    color: white;
    cursor: pointer;
}

.chatbody {
    background-color: rgba(255,255,255,0.8);
}

.chatform {
    padding: 16px;
}

.chatname:focus, .chatmessage:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgb(0,0,0);
    outline: none;
}

.chatmessage, .chatname {
    width: 100%;
    margin: 8px 0;
    resize: none;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px rgb(0,0,0);
    border-radius: 5px;
    padding: 8px 16px;
    color: black;
}

.chatbutton {
    cursor: pointer;
    width: 100%;
    margin: 8px 0;
    background-color: rgba(46, 204, 113, 0.7);
    border: solid 2px #2ecc71;
    border-radius: 5px;
    color: #eeeeee;
    padding: 8px 16px;
    outline: none;
}

.chatbutton:hover {
    background-color: rgba(46, 204, 113, 0.9);
    transition: .4s;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.messdiv {
    position: fixed;
    top: 150px;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 0px 30px 0px #eee;
    color: #eeeeee;
    border-radius: 15px;
    padding: 16px 32px;
    height: auto;
}

.pricetab {
    box-shadow: 0px 0px 30px 0px #eee;
    border-radius: 5px;
    margin: 32px 0;
    padding: 0;
    color: white;
}

.pricetab--1 {
    background-color: rgba(46, 204, 113, 0.7);
}

.pricetab--2 {
    background-color: rgba(52, 152, 219, 0.7);
}

.pricetab img {
    width: 30%;
    margin-left: 50%;
    margin-top: 32px;
    margin-bottom: 32px;
    transform: translateX(-50%);
}

.pricetab h4 {
    text-align: center;
    margin: 8px 0;
}

.pricetab p {
    padding: 0;
    margin: 24px 32px;
}

.pricetab ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.pricetab li {
    padding: 0;
    margin: 24px 32px;
    list-style: none;
    text-align: left;
}

.pricetab .fa-times {
    color: #e74c3c;
}

.pricetab .fa-check {
    color: #2ecc71;
}

.pricetab__icons {
    font-size: 1.5rem;
    padding: 0;
    margin: 0 32px 0 0;
}

.pricetab h5 {
    text-align: center;
    display: inline-block;
    margin-left: 50%;
    margin-top: 16px;
    margin-bottom: 32px;
    transform: translateX(-50%);
    padding: 8px 16px;
    border-radius: 5px;
    background-color: white;
}

.pricetab--1 h5 {
    color: rgba(46, 204, 113, 1);
}

.pricetab--2 h5 {
    color: rgba(52, 152, 219, 1);
}

.pricediv {
    background-color: rgba(0, 0, 0, 0.4);
    height: auto;
    padding-bottom: 15%;
}

.pricediv__title {
    color: white;
    text-align: center;
    margin: 128px 0 64px 0;
}

.functiondiv {
    padding-bottom: 20%;
    background-color: black;
}

.functiondiv .container {
    height: 100%;
}

.functiondiv__title {
    color: white;
    text-align: center;
    margin: 128px 0 64px 0;
}

.mb {
    margin: 64px 0;
}

.functiondiv-par p {
    margin-bottom: 32px;
    margin-top: 64px;
	width: 65%;
	text-align: justify;
	line-height: 2.0;
	margin-left: 50%;
    transform: translateX(-50%);
}

.functiondiv-img {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

.store-button {
    text-align: center;
    line-height: 64px;
    width: 64px;
    height: 64px;
    font-size: 2.2rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.store-button-apple {
    background-color: white;
    color: #1b6cf1;
}

.store-button-apple:hover {
    background-color: #1b6cf1;
    color: white;
    transition: .4s;
}

.store-button-apple:hover + svg .sfondo-rect-app {
    fill: white;
    transition: .4s
}


.store-button-android {
    background-color: white;
    color: #A4C639;
}

.store-button-android:hover {
    background-color: #A4C639;
    color: white;
    transition: .4s;
}

.store-button-android:hover + svg .sfondo-rect-andr {
    fill: white;
    transition: .4s
}

body {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.whoarewediv {
    background-color: black;
}

.whoarewediv__title {
    color: white;
    text-align: center;
    margin: 128px 0 16px 0;
}

.whoarewediv__item {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 32px 0;
    text-align: center;
}

.image-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 16px 0;
    margin-left: 50%;
    transform: translateX(-50%);
    background-position: center;
    background-size: cover;
}

.whoarewediv h3 {
    text-align: center;
    margin-bottom: 12px;
    color: black;
}

.whoarewediv h5 {
    text-align: center;
    margin-bottom: 80px;
    color: black;
}

.social-button {
    position: absolute;
    bottom: 16px;
    text-align: center;
    line-height: 48px;
    width: 48px;
    height: 48px;
    font-size: 2rem;
    border-radius: 50%;
}

.social-button--facebook {
    left: 20%;
    color: #3b5998;
    background-color: white;
}

.social-button--facebook:hover {
    background-color: #3b5998;
    color: white;
    transition: .4s;
}

.social-button--mail {
    right: 20%;
    color: #C71610;
    background-color: white;
}

.social-button--mail:hover {
    background-color: #C71610;
    color: white;
    transition: .4s;
}

.footer {
    background: rgba(0,0,0,0.7);
    width: 100%;
    padding: 32px;
}

.footer hr {
    border-color: white;
}

.footer h5 {
    color: white;
    text-transform: uppercase;
    margin-top: 32px;
    font-weight: bold;
}

.footer a {
    color:white;
}

.footer-copyright {
    margin-top: 32px;
}
