.menudiv {
    position: fixed;
    top: 0;
    padding: 0;
}

.menudiv ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
}

.menudiv li {
    border: solid 2px;
    text-align: center;
    height: 30px;
}

.page {
    height: 100vh;
    background-color: white;
}

.chatdiv {
    position: fixed;
    bottom: 0;
    padding: 0;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: transparent;
    box-shadow: 0px 0px 30px 0px #333333;
    color: #eeeeee;
}

.chatheader {
    width: 100%;
    background-color: #2ecc71;
    padding: 16px 16px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.chatheader .closechat {
    position: absolute;
    right: 16px;
    top: 20px;
}

.chatheader .minimize {
    position: absolute;
    right: 38px;
    top: 20px;
}

.chatheader p {
    font-weight: bold;
    margin: 0;
    width: 80%;
}

.chatbody {
    background-color: #333333;
}

.chatform {
    padding: 16px;
}

.chatname:focus, .chatmessage:focus {
    background-color: rgba(238, 238, 238, 0.5);
    border-color: #eeeeee;
    outline: none;
}

.chatmessage, .chatname {
    width: 100%;
    margin: 8px 0;
    resize: none;
    background-color: rgba(238, 238, 238, 0.3);
    border: solid 1px #eeeeee;
    border-radius: 5px;
    padding: 8px 16px;
    color: #eeeeee;
}

.chatbutton {
    width: 100%;
    margin: 8px 0;
    background-color: #2ecc71;
    border: solid 2px #2ecc71;
    border-radius: 5px;
    color: #eeeeee;
    padding: 8px 16px;
    outline: none;
}

.chatbutton:hover {
    background-color: rgba(46, 204, 113, 0.7);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eeeeee;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #eeeeee;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #eeeeee;
}

.messdiv {
    position: fixed;
    top: 50px;
    height: 100%;
    background-color: rgba(46, 204, 113, 0.7);
    color: #eeeeee;
    border-radius: 15px;
    padding: 8px 16px;
}

.messdiv h2 {

}

@media screen and (max-width: 900px) {
    .chatmessage {
        height: 15vh;
    }
}

.pricetab {
    box-shadow: 0px 0px 30px 0px #333333;
    border-radius: 5px;
    margin: 32px 0;
    padding: 0;
    color: white;
}

.pricetab--1 {
    background-color: rgba(46, 204, 113, 0.7);
}

.pricetab--2 {
    background-color: rgba(52, 152, 219, 0.7);
}

.pricetab img {
    width: 30%;
    margin-left: 50%;
    margin-top: 32px;
    margin-bottom: 32px;
    transform: translateX(-50%);
}

.pricetab h4 {
    text-align: center;
    margin: 8px 0;
}

.pricetab p {
    padding: 0;
    margin: 24px 32px;
}

.pricetab ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.pricetab li {
    padding: 0;
    margin: 24px 32px;
    list-style: none;
    text-align: left;
}

.pricetab .fa-times {
    color: red;
}

.pricetab .fa-check {
    color: green;
}

.pricetab__icons {
    font-size: 1.5rem;
    padding: 0;
    margin: 0 32px 0 0;
}

.pricetab h5 {
    text-align: center;
    display: inline-block;
    margin-left: 50%;
    margin-top: 16px;
    margin-bottom: 32px;
    transform: translateX(-50%);
    padding: 8px 16px;
    border-radius: 5px;
    background-color: white;
}

.pricetab--1 h5 {
    color: rgba(46, 204, 113, 0.7);
}

.pricetab--2 h5 {
    color: rgba(52, 152, 219, 0.7);
}


.pricediv__title {
    text-align: center;
    margin: 64px 0;
}
